<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <link th:src="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:src="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <title>春天里电影资源网</title>
</head>
<body>
<script th:src="@{/bootstrap/jquery-3.3.1.min.js}" type="text/script"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<div class="wrapper">
    <div class="container">
        <main class="content-error">
            <p>
                <img src="img/cloud-error.png" alt="" /></p>
            <p class="h3">您访问的内容有错！请联系我们 xxxxxxxxxxx.com</p>
            <p>
                <a href="/movie/home">返回首页</a>
            </p>
        </main>
    </div>
</div>
</body>
</html>