<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/assets/css/amazeui.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/other.min.css}" />
</head>
<body class="login-container">
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<!--<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>-->
  <div class="login-box">
    <div class="logo-img">
      <img th:src="@{/assets/images/logo2_02.png}" alt="" />
    </div>
    <form action="" class="am-form" data-am-validator="">
      <div class="am-form-group">
        <label for="email"><i class="am-icon-user"></i></label>
        <input type="email" id="email" minlength="3" placeholder="输入用户名（至少 3 个字符）" required=""/>
      </div>

      <div class="am-form-group">
        <label for="password"><i class="am-icon-key"></i></label>
        <input type="password" id="password" placeholder="输入密码" required=""/>
      </div>
      
      <button class="am-btn am-btn-secondary"  type="button" id="loginBtn">登录</button>
    </form>
  </div>
  <script th:src="@{/js/utils.js}" type="text/javascript"></script>
  <script th:src="@{/js/login.js}" type='text/javascript'></script>
</body>
</html>
